
.projects__container{
    position: relative;
}

.portfolio__container{
   
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
    display: flex;

  cursor: pointer;
    gap: 2rem;
    overflow: hidden;
}

.portfolio__item{

    width:100%;
    height: 100%;
    background-color: var(--bg-variant-color);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(transition);
}

.portfolio__item:hover{

    border: 1px solid var(  --primary-variant-color);
background: transparent;
}
.portfolio__item-image img{
    border-radius: 1.2rem;
    overflow: hidden;
}
.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}
.portfolio__item-btns{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}



  
  .card__container {
    flex: 0 0 30%;
    transition: transform 0.3s ease; /* CSS transition for smooth animation */
  }
  
  .card__container:hover {
    transform: translateY(-5px); /* Apply a slight lift effect on hover */
  }
  

  

  
  .navigation-buttons button {
  background: transparent;
color: #007bff;
font-size: 2.5rem;
    border: none;
 
    cursor: pointer;
  }

  .navigation-buttons button:hover{
    color: aliceblue;
    background: none;
  }

 
  .navigation-buttons button:nth-child(1){
    position: absolute;
    top: 0%;
    left: 1%;
  }
 
  .navigation-buttons button:nth-child(2){
    position: absolute;
    top: 0%;
    right: 1%;
  }
  











/* ================MEDIA QUERIES (MEDIUM DEVICES)========= */

@media(max-width:1024px){





  }
  
  /* ================MEDIA QUERIES (SMALL DEVICES)========= */
  
  @media(max-width:730px){
    .portfolio__container{
        font-size: 14px;
        width: 90%;
        padding: 2rem;
        margin: 0 auto;
        display: flex;
    
      cursor: pointer;
        gap: 1rem;
        
 }

 .portfolio__item h3{
    margin: 1.2rem 0 2rem;
    font-size: 14px;
  
}

.card__container {
    flex: 0 0 50%;
    transition: transform 0.3s ease; /* CSS transition for smooth animation */
  }

   
    
  }